{
    "presets": [
        "es2015",
        "flow"
    ],
    "env": {
      "development": {
        "presets": [
          "power-assert"
        ]
      },
      "production": {
        "plugins": [
          "unassert"
        ]
      },
      "test": {
        "presets": [
          "power-assert"
        ]
      }
    }
}
