{
  "presets": [
    "es2015",
    "flow",
    "react",
    "stage-3"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
        ]
    },
    "production": {
      "plugins": [
        "unassert"
        ]
    },
    "test": {
      "presets": [
        "power-assert"
        ]
    }
  }
}
